@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --blue-100: #B6DBF6;
        --blue-500: #0071FF;
        --blue-900: #005DD1;
        --grey: #f2f2f2;
  --dark: #000000;
    --button: #7d2ae8;
    --text-button: #ffff;
    --light-text:#e6e6e6;
    --light-dark:rgb(45, 45, 45);
    --dark-100:rgb(156, 156, 156);
    --dark-500:rgb(70, 70, 70);
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body {
    color: var(--text-button);
    background-color: var(--dark);
}
.home-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 45px 50px 50px 50px;
}
.home-container-left h1{
  font-size: 53px;
}
.home-container-left p{
  color: var(--light-text);
  margin-bottom: 30px;
}
.upload-your-photo{
  padding: 12px;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  color: var(--text-button);
  font-family: system-ui;
  font-weight: bold;
  background: linear-gradient(to bottom left, rgb(255, 0, 140), rgb(34, 0, 255));;
  cursor: pointer;
}
.upload-your-photo:hover{
  background: var(--dark);
  border: 1px solid var(--dark-blue);
  box-shadow: 0px 0px 10px rgba(132, 0, 255, 0.79);
}

.home-container-right{
  display: flex;
  justify-content: center;
  align-items: center;

}
.home-container-right img{
  border-radius: 5px;
  width: 60%;
}
.how-to{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, blue, pink);
  height: 300px;
}
.how-to-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 20px;
  justify-content: space-evenly;
}
.how-to-sub-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  background: rgba(255,255,255,0.5);
backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.45);
}
.how-to-sub-container i{
  margin: 14px;
  font-size: 30px;
}
/*this is industre*/
.sample-industrie{
  text-align: center;
  margin-top: 10%;
}

.animal-container,
.people-container,
.car-container,
.product-container {
    display: none; 
}
.industries-buttons li a{
  text-decoration: none;
  color: inherit;
}
.industries-buttons{
  display: flex;
  justify-content: center;
  list-style: none;
}
.industries-buttons li{
  padding: 10px;
}
.industries-buttons li a{
  font-family: arial;
  font-weight: bold;
  color: var(--text-button);
  text-decoration: none;
}
.industries-buttons li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--button);
  margin: auto;
  display: block;
}
.industries-buttons li a:hover::after,
.industries-buttons li a:focus:after{
  width: 100%;
  transition: width 0.3s linear;
}
.img-conatiner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin: 2%;
}
.to-select-img{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  text-align: center;
}
.to-select-img img{
  width: 80%;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px ;
}
.to-select-img p{
  font-family: arial;
  color: var(--light-text);
}
.to-select-img img:hover{
  opacity: 60%;
  cursor:pointer;
}

.selected-img{
  text-align: center;
}
.selected-img img{
  height: 350px;
  width: auto;
  overflow: hidden;
  border: solid 3px;
  border-radius: 5px;
}
/* this is remove background section*/
*{
        font-family: 'Poppins', sans-serif;
}

.user-img-background{
        display: flex;
        justify-content: center;
        align-items: center;
}


.container {
        max-width: 400px;
        width: 100%;
        background: var(--dark-500);
        padding: 30px;
        border-radius: 30px;
}
.color-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8%;
}
.color-circles{
  height: 25px;
  width: 25px;
  color: #0073ff00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;

}
.color-1 img{
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.color-2{
  background-color: rgb(255, 13, 13);
}
.color-3{
  background-color: #4297ff;
}
.color-4{
  background-color:#f677ff;
}
.img-area {
        position: relative;
        width: 100%;
        height: 240px;
        background: var(--dark-100);
        margin-bottom: 30px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  box-shadow: inset gray 0px 0px 17px -10px;
}
.img-area h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
.img-area p {
    font-family: arial;
        color: var(--grey);
}
.img-area p span {
        font-weight: 600;
}
.img-area img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 100;
}
.img-area::before {
        content: attr(data-img);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease;
        z-index: 200;
}
.img-area.active:hover::before {
        opacity: 1;
}
.select-image {
        display: block;
        width: 100%;
        padding: 16px 0;
        border-radius: 15px;
        font-weight: 500;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: all .3s ease;
}
.image-phone{
  display: none;

}
.sub-select-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.sub-select-section h1{
    font-size: 30px;
    font-weight: bold;
    margin: 1%;
}
.sub-select-section p{
  margin-bottom: 3%;
  margin-left: 24%;
  margin-right: 24%;
}
.button {
    position: relative;
    padding: 16px 0;
    width: 100%;
        border-radius: 15px;
    background: var(--button);
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: arial;
  }
.button:active {
    background: var(--button);
  }

  .button__text {
    font: bold 20px "Quicksand", san-serif;
    color: var(--text-button);
    transition: all 0.2s;
    font-family: geneva;
  }

  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }

  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--text-button);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }

/*Download button animation*/
.download-button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: var(--text-button);
    cursor: pointer;
    background-color: var(--button);
    transition: all 0.2s ease;
  }
  .download-button:active {

    transform: scale(0.96);
  }
  .download-button:before,
  .download-button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .download-button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 10%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 10%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 13% 13%, 23% 23%, 18% 18%, 23% 23%, 21% 21%, 13% 13%, 18% 18%,
      13% 13%, 21% 21%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 8% 93%, 13% 93%, 14% 93%, 18% 93%, 28% 93%, 28% 93%,
        43% 93%, 58% 93%, 78% 98%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .download-button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }  
@media (max-width: 768px) {
    .home-container{
      display: flex;
      flex-direction: column-reverse;
      top: 50%;
    }
    .home-container-left{
      text-align: center;
    }
    .home-container-left h1{
      font-size: 130%;
      margin-bottom: 2%;
    }
    .home-container-left p{
      color: var(--light-text);
      margin-bottom: 5%;
      font-size: 89%;
    }
    .upload-your-photo{
      align-items: center;
      padding: 2%;
      font-size: 100%;
      border-radius: 1%;
    }
    .home-container-right img{
      border-radius: 5%;
      width: 70%;
    }
    .home-container-right{
      margin-top: 16%;
    }


    .how-to{
      margin-top: 25%;
      background: linear-gradient(to bottom right, blue, pink);
      height: 100%;
      padding: 5%;
    }
    .how-to-container{
      top: 0;
      margin-top: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap:4%;
      row-gap: 3%;
      padding: 5%;
      justify-content: space-evenly;
    }
    .how-to-sub-container{
      display: grid;
      grid-template-columns: 1fr 5fr;
      justify-content: center;
      background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
      border-radius: 3%;
      padding: 10%;
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.45);
    }
    .how-to-sub-container i{
      margin:10% 180% 10% 10%;
      font-size: 100%;
    }

    .container {
      position: absolute;
      max-width: 80%;
      bottom: -10px;
      width: 100%;
      padding: 5%;
      border-radius: 5%;
      margin: 0;

    }
    .sub-select-section h1{
      font-size: 100%;

      margin: 0;
      padding: 0;
    }
    .sub-select-section p{
      margin: 2%;
      padding: 0;
      font-size: 69%;
    }

    /*this is industre*/
.sample-industrie{
  text-align: center;
  margin-top: 20%;
}

.to-select-img img{
 display: none;
}
.image-phone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.to-select-img p{
  display: none;
}
.selected-img img{
  display: none;
}
.copyright-section{
 position: absolute;
    left: 0;
    right: 0;
    bottom: -19%;
    border-top: 1px solid;
    border-top-color: var(--light-blue);
    display: flex;
    align-items: center;

  }
}
