.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0% 15px;
    cursor: pointer;
}
.logo-bg{
    font-family: "Style Script", cursive;
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
    background: linear-gradient(to top right, rgb(96, 213, 245), #8e22af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright-section{
  position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid;
    border-top-color: var(--light-blue);
    display: flex;
    align-items: center;
    padding: 20px;
  }
.bottom-logo{
    font-size: 30px;
  }
  .copyright-text{
    margin-right: 100px;
    font-size: 21px;
    font-family: cochin;
  }
@media (max-width: 768px) {
  .logo {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 15px;
    cursor: pointer;
}
.logo-bg{
    font-family: "Style Script", cursive;
    font-weight: 900;
    font-size: 100%;
    font-style: normal;
    background: linear-gradient(to top right, rgb(96, 213, 245), #8e22af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright-section{
  position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid;
    border-top-color: var(--light-blue);
    display: flex;
    align-items: center;
  
  }
.bottom-logo{
    font-size: 100%;
  }
  .copyright-text{
    
    font-size: 70%;
    font-family: cochin;
  }

}