@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  font-family: 'Poppins', sans-serif;
}
.header {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(116, 116, 116);
  z-index: 100;
}
.logo{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  cursor: default;
}
.rnav-item{
  text-decoration: none;
}
.navbars{
  display: flex;
  position: relative;
}
.navbars a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  transition: 0.3s;

}
.navbars a:hover {
  color: #f00;
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
.user-email-nav, .user-name-nav, .user-profile-nav, .user-credits, .sign-out-nav{
  display: none;
}
.hey-user-name-nav{
  display: block;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .user-email-nav, .user-name-nav, .user-profile-nav, .user-credits, .sign-out-nav{
    display: block;
  }
  .hey-user-name-nav{
    display: none;
  }
  .users-data{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .users-data p{
    margin: 0;
  }
  .user-profile-nav p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 45px;
    font-size: 35px;
    font-weight: bold;
    background-color: blue;
    border-radius: 50%;
  }
  .user-name-nav{
    font-weight: bold;
  }
  .navbars {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 0.5rem 4%;
    z-index: 110;
    display: none;
  }
  .navbars.active {
    display: block;
  }
  .navbars a {
    text-align: center;
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: fixed;
    top: 79px;
    right: 0;
    width: 50%;
    height: 345px;
    background: rgba(53, 53, 53, 0.571);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}
