/*
.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0% 15px;
    cursor: pointer;
}
.logo-bg{
    font-family: "Style Script", cursive;
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
    background: linear-gradient(to top right, rgb(96, 213, 245), #8e22af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ham-menu {
  display: none;
}
.rnav .active {
  left: 0;
}
.hidden {
  display: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    border-bottom: 1px solid;
    border-bottom-color: var(--blue-100);
    height: 4rem;
    width: 100%;
    top: 0;
    padding: 0px 40px;
    position: relative;
    transition: top 0.3s;
}
.navbar a{
  text-decoration: none;
}
.navbar_item {
    position: relative;
    padding: 5px 25px;
    margin: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s ease-out;
    cursor: pointer;
}
.navbar_item a{
    color: var(--grey);
    text-decoration: none;
}
.rnav {
    display: flex;
}
.rnav-item{
  text-decoration: none;
  color: aliceblue;
}

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.navbars a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbars a:hover {
  color: #f00;
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbars {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbars.active {
    display: block;
  }
  .navbars a {
    text-align: center;
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: fixed;
    top: 79px;
    right: 0;
    width: 50%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}
