.collapse {
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, height;
    will-change: opacity, contents;
  }
  .collapse:not(.is-active) {
    height: 0;
    opacity: 0;
  }
  .section_accordion{
    margin-bottom: 3rem;
  }
  .accordion {
    --background: #3a3a3a;
    --border-radius: 12px;
    border-radius: var(--border-radius);
    background: var(--background);
    box-shadow: 0pc 0px 11px rgba(255, 255, 255, 0.9);
    border: 1px solid #2b2b2b;
    margin: 0px 2% 0px 2%;
    color: black;
  }
  .accordion .card {
    overflow: hidden;
    margin: -1px -1px 1px;
    background: var(--background);
    border: 1px solid #d9d9d9;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: contents;
    text-align: left;
  }
  .accordion .card:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .accordion .card:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin-bottom: -1px;
  }
  .accordion .card:not(:last-child):not(.is-active) {
    border-bottom-color: transparent;
  }
  .accordion .card.is-active {
    background: #7e7e7e;
    border-radius: var(--border-radius);
  }
  .accordion .card.is-active + .card {
    border-top-color: transparent;
  }
  .accordion .card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    margin: 0;
    margin-bottom: -1px;
    padding: 0.5rem 1.25rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .accordion .card__title:hover .icon {
    opacity: 0.8;
  }
  .accordion .card__title.is-active .icon {
    transform: rotateX(180deg);
    opacity: 1;
  }
  .accordion .card__title .icon {
    width: 28px;
    height: 28px;
    fill: currentColor;
    opacity: 0.3;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: -0.25rem;
  }
  .accordion .card__content {
    color: white;
    padding: 0 1.25rem 1.25rem;
  }
  
  * {
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
  }
  
  html {
    font: 16px/1.5 "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  
  h1 {
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: gray;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a,
  [data-toggle] {
    cursor: pointer;
  }
