
.proflle-body{
    display: grid;
    justify-content: center;
    align-items: center;
}
.user-profile-container{
    display: flex;
    justify-content: center;
    background-color: gray;
    width: 700px;
    margin: 10% auto 14% auto;
    height: auto;
}
.user-profile{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    margin: 10px 40px;
}
.user-profile p{
    margin: 30% auto;
    font-size: 50px;
}

.user-name p{
    font-size: 50px;
}

.user-email p{
    font-size: 30px;
}
.sign-out-button{
    text-align: center;
    margin: 5px;
    margin-right: 40px;
}
.sign-out-button a{
    font-family: arial;
    text-decoration: none;
    background-color: aqua;
    padding: 10px;
}